doctype
html
    head
        title Project Opaline
        base(href='/')
        link(href="/favicon.ico", rel="shortcut icon", type="image/x-icon")
        link(rel="stylesheet", href="/css/bootstrap.css")
        link(rel="stylesheet", href="/vendor/toastr/toastr.css")
        link(rel="stylesheet", href="/css/site.css")
        link(rel="stylesheet", href="/css/modules.css")
        link(rel="stylesheet", href="/css/home.css")
        link(rel="stylesheet", href="/css/tutorial.css")
        link(rel="stylesheet", href="/css/download.css")
    body(ng-app='app')
        block main-content
            .navbar.navbar-inverse.navbar-fixed-top
                .container
                    .navbar-header
                        img(src="./ressources/img/SUE_Logo.png")
                        a(class="navbar-brand", ui-sref="#") S.U.E
                    .navbar-collapse.collapse
                        div(ng-include="'/partials/account/navbar-login'")
                        ul.nav.navbar-nav
                            li
                                a(href="/") Home
                            li
                                a(href="/documentation") Documentation
                            li
                                a(href="/modules") Modules
                            li
                                a(href="/tutorial") Tutorial
                            li
                                a(href="/software") Software
                        
                //input(type="image" src="ressources/img/150428_USALR-Bouton-Inscription.png" onclick="poppy()") CA MARCHE OMG
            section.content
                div(ng-view)
            h2= mongoMessage
    footer
        div(class="contact" id="contact")
            div(class="small-12 medium-4 large-4 columns")
              div(class="copyrights")
                a(class="logo")
                    h1 projectOpaline
                        img(src="./ressources/img/SUE_Logo.png")
            div(class="small-12 medium-8 large-8 columns")
                div(class="contact_details right")  
                    div(class="contact_mail")
                        h1 Contact
                        p projectopaline_2019@labeip.epitech.eu
                    div(class="social")
                        h1 Social Network
                        ul
                            li: a(href="https://www.facebook.com/") Facebook
                            li: a(href="https://www.twitter.com") Twitter
                            li: a(href="https://google.fr") Google Plus

include scripts