.container
    .jumbotron
        h1 Project Opaline
        p Le projet Opaline consiste en un moteur de jeu modulaire 2D et un site relié à celui-ci. La modularité permettra au créateur de jeu de se focaliser sur son travail en se déchargeant de ce qui le ralentirait. Le site associé fera vivre une communauté autour du moteur et aidera les utilisateurs

    .row
        .col-md-6
            div(ng-include="'/partials/main/featured-courses'")
        .col-md-6
            div(ng-include="'/partials/main/new-courses'")