.container
    .jumbotron
        h1 Project Opaline
        p Le projet Opaline consiste en un moteur de jeu modulaire 2D et un site relié à celui-ci. La modularité permettra au créateur de jeu de se focaliser sur son travail en se déchargeant de ce qui le ralentirait. Le site associé fera vivre une communauté autour du moteur et aidera les utilisateurs

section(class="team", ng-app='app')
    h2(class="mean_title") Project Opaline's teams
    ul(class="pres")
        li
            img(src="../../ressources/img/photos/rivoire_a.JPG")
            span(class="_name") Guillaume Rivoire
        li
            img(src="../../ressources/img/photos/weber_f.jpg")
            span(class="_name") Alexandre Weber
        li
            img(src="../../ressources/img/photos/doyen_b.jpg")
            span(class="_name") Benoît Doyen
        li
            img(src="../../ressources/img/photos/frasse_l.JPG")
            span(class="_name") Loic Frasse
        li
            img(src="../../ressources/img/photos/thomas.decamp.jpg")
            span(class="_name") Thomas Decamp
        li
            img(src="../../ressources/img/photos/quivy_a.jpg")
            span(class="_name") Alexandre Quivy
        li
            img(src="../../ressources/img/photos/axel.myre.jpg")
            span(class="_name") Axel MYRE
