.container
    .jumbotron
        h1 Module plateforme
        p Créer un jeu de plateforme grâce à de simples éléments
        p Comprend un set pour les plateformes, ainsi qu'un point de départ et d'arrivé.

section.modules
  div(ng-controller='mvMainCtrl', ng-cloak='')
        img(src='ressources/img/game11.jpg', href="/ressources/Release.7z")
        h3 {{ item.myVar }}
        img(src='ressources/img/telecharger-module.png', style='right: auto')
