.container(ng-controller='mvMainCtrl')
    div
    h1.download_engine_text  The Opaline Engine 
    ul.nav.navbar-nav
        li
            a(target="_self" href="ressources/Release.7z" download="Release.7z")
              button.btn.btn-primary(type='button', ng-model='singleModel', uib-btn-checkbox='', btn-checkbox-true='1', btn-checkbox-false='0')
                | Download
            center h4  How to unzip 7z file ? Use Winrar, 7zip   
        {{ myVar }}